@import url(https://fonts.googleapis.com/icon?family=Comfortaa);

* {
  font-family: 'Comfortaa', sans-serif;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;

  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

#app {
  margin: 0 auto;
}

