@import url(https://fonts.googleapis.com/icon?family=Comfortaa);

* {
  font-family: 'Comfortaa', sans-serif;
}

:root {
  color-scheme: light dark;

  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

#app {
  margin: 0 auto;

  width: 100%;
}


:root {
  --border-color: #05bc05
}
