@import url(https://fonts.googleapis.com/icon?family=Comfortaa);
@import 'primeicons/primeicons.css';

* {
  font-family: 'Comfortaa', sans-serif;
}

:root {
  color-scheme: light;

  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

#app {
  margin: 0 auto;

  width: 100%;
}


:root {
  --border-color: #05bc05;

  --basic-outline: #05bc05;
  --value-changed-outline: #e63e18;
  --selected-gradient: linear-gradient(#70f1f1, #05878c);
  --basic-gradient: linear-gradient(#fff9f9, #AAA8A8);
}


:root{
  font-size: 20px;
}

@media (max-width: 400px) {
  :root{
    font-size: 16px;
  }
}

@media (max-width: 200px) {
  :root {
    font-size: 8px;
  }
}
