.Carousel {
    display: flex;
    min-width: max-content;
    justify-content: center;
}

.CarouselItem {
    max-width: 8em;
    min-width: 8em;

    flex: 1;
}

.CarouselItem + .CarouselItem {
    border-left: 2px solid black;
}

.CarouselItem:first-child {
  border-top-left-radius: 16px;
}
.CarouselItem:last-child {
    border-top-right-radius: 16px;
}
