.InfoTable {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.InfoTableRow {
    display: flex;
    flex-direction: row;
    gap: 0.25em;
}

.InfoTableColumn {
    display: flex;
    flex-direction: column;
}

.Node {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

.NodeHeader {
    max-width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 0.25em;
    border-bottom: gray solid;
    border-left: gray solid;
}

.NodeField {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0;

    border-left: gray solid;
}

.Node > .Node {
    padding: 0 0.5em 0 0.5em;
}
.Node > .NodeField {
    padding: 0 0.5em 0 0.5em;
}

.InfoBlock {
    display: flex;
    flex-direction: column;
    border: #78042f solid;
    border-radius: 16px;

    padding: 1em;
}

