.InfoTable {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.InfoTableRow {
    display: flex;
    flex-direction: row;
    gap: 0.25em;
}

.InfoTableColumn {
    display: flex;
    flex-direction: column;
}

.Node {
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow-x: scroll;
}

.NodeField {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0;
    padding: 0.5em 0 0 0;
}

.Node > .Node {
    padding: 0 0.5em 0 0.5em;
}
.Node > .NodeField {
    padding: 0 0.5em 0 0.5em;
}
