.InfoTable {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.InfoTableRow {
    display: flex;
    flex-direction: row;
    gap: 0.25em;
}

.InfoTableColumn {
    display: flex;
    flex-direction: column;
}
